body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/fondo.jpg');
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grande {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que la sección ocupe toda la altura de la ventana */
  padding: 0;
  margin: 0 auto;
  width: 600px; /* Ajusta esto según el ancho deseado del canvas y otros elementos */
}

canvas {
  border: solid #006400;
  background-color: white;
}

p>b>a {
  color: #006400;
  font-size: 43px;
  font-family: 'Architects Daughter', cursive;
}

p.solo {
  color: #006400;
  font-size: 23px;
  font-family: 'Architects Daughter', cursive;
}

section>p {
  width: 95%;
  text-align: center;
  color: #ad2d0d;
  font-family: 'Architects Daughter', cursive;
}

h2 {
  color: #006400;
  font-family: 'Architects Daughter', cursive;
}

#reloadButton{
  position: absolute;
  color: #006400;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}